body {
  font-family: tahoma;
  height: 100vh;
  background-image: url(/home/darshini/Desktop/dachi/cards/src/mountain.jpeg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}